@media screen { /* SCREEN start */

*,
*::before,
*::after {
	box-sizing: inherit;
}
* {
	margin: 0;
	font-size: inherit;
	font-style: inherit;
}
*:focus {
	outline: 1px dashed #d34b6c;
}
html {
	--w: 69ch;
	box-sizing: border-box;
	background-color: #000;
	color: #eaeaeb;
	font: 16px/1.5 monospace;
}
body {
	overflow-x: auto;
	overflow-y: scroll;
	padding: 1.5em 2ch;
	background: repeat-x url('data:image/gif;base64,R0lGODlhZAAEAPECANNLbOrq6/v7+wAAACH5BAUKAAIALAAAAABkAAQAAAIrVIynyesNn4x0WgqE3vtw7n1aKJKfCYqdOrIIm7nyTJf1jatxzt9oDxQBCgA7');
}
main {
	max-width: var(--w);
	margin: 0 auto;
}
h1 {
	color: #fff;
}
h1,
h2,
ul,
div,
:not(li) > p {
	margin-bottom: 1.5em;
}
h1 + p,
h2 {
	margin-top: 3em;
}
h2 {
	color: #d34b6c;
}
img {
	width: 4ch;
	height: 4ch;
	transform: translate(-0.375ch, -0.0625em);
	vertical-align: middle;
}
a {
	color: inherit;
	text-decoration-color: #d34b6c;
}
ul {
	padding-left: 2ch;
}
div {
	overflow-x: auto;
	overflow-y: visible;
	margin: 0 -2ch;
}
table {
	width: calc(var(--w) + 4ch);
}
table,
thead,
tbody {
	display: block;
}
tr {
	display: grid;
	gap: 0 2ch;
	padding: 0 2ch;
}
th {
	font-weight: inherit;
	text-align: left;
}
tbody tr {
	padding-top: 0.75em;
	padding-bottom: calc(0.75em - 1px);
	background-color: #eaeaeb;
	border-bottom: 1px solid #000;
	color: #000;
}
[aria-labelledby="presentations"] tr {
	grid-template-areas: 'title event' 'links location';
	grid-template-columns: 1fr 26ch;
}
[aria-labelledby="presentations"] tr > *:first-child {
	grid-area: title;
	font-weight: 700;
}
[aria-labelledby="presentations"] td:first-child {
	text-indent: -1ch;
}
[aria-labelledby="presentations"] tr > *:nth-child(2) {
	grid-area: links;
}
[aria-labelledby="presentations"] td:first-child,
[aria-labelledby="presentations"] td:nth-child(2) {
	max-width: calc(100vw - 4ch);
}
[aria-labelledby="presentations"] tr > *:nth-child(3) {
	align-self: end;
	grid-area: event;
}
[aria-labelledby="presentations"] tr > *:last-child {
	grid-area: location;
}
[aria-labelledby="presentations"] td:last-child::before {
	content: '';
	display: inline-block;
	width: 2ch;
	height: 1.125ch;
	background: no-repeat url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"%3E%3Cpath fill="%23000" d="M15.938 32c0 0-9.938-14.062-9.938-20.062 0-11.813 9.938-11.938 9.938-11.938s10.062 0.125 10.062 11.875c0 6.187-10.062 20.125-10.062 20.125zM16 6c-2.209 0-4 1.791-4 4s1.791 4 4 4 4-1.791 4-4-1.791-4-4-4z"%3E%3C/path%3E%3C/svg%3E') -0.0625ch center / 1.125ch 1.125ch;
	/* Shoutout to Broccolidry on iconmoon.io for the map marker icon <3 */
}
[aria-labelledby="resources"] tr {
	grid-template-columns: 1fr 10ch 14ch;
}
[aria-labelledby="resources"] tr > *:nth-child(2) {
	display: none;
}
[aria-labelledby="resources"] td:nth-child(3)::after {
	content: ' ';
	white-space: pre;
}
[aria-labelledby="links"] tr {
	grid-template-columns: 1fr 26ch;
}
tbody tr:focus-within,
tbody tr:hover {
	background-color: #fff;
}
@keyframes loading {
	0% { transform: rotate(0); }
	100% { transform: rotate(1turn); }
}
.loading::after {
	content: '';
	position: absolute;
	width: 1em;
	height: 1em;
	margin: .25em 0 0 1ch;
	border: 2px solid #d34b6c;
	border-radius: 50%;
	border-top-color: #eaeaeb;
	animation: loading .7s linear infinite;
}

} /* SCREEN end */

ul {
	list-style-type: square;
}
em::before {
	content: open-quote;
}
em::after {
	content: close-quote;
}
[aria-labelledby="resources"] tr > *:nth-child(3) {
	text-align: center;
}
[aria-labelledby="resources"] tr > *:nth-child(4) {
	text-align: right;
}

@media print { /* PRINT start */

html {
	font: 12pt/1.4 serif;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	display: none;
}
h1 {
	margin: 0 0 2mm;
	font-size: 40pt;
}
h2 {
	margin: 6mm 0 2mm;
	font-size: 18pt;
}
table,
p {
	margin: 2mm 0;
}
table {
	width: 100%;
	border-collapse: collapse;
}
h1,
h2,
ul,
p,
th {
	padding: 0 calc(2mm + 1px);
	text-align: left;
}
tr > *:first-child {
	width: 40%;
}
td {
	padding: .5mm 2mm;
	border: 1px solid #aaa;
	vertical-align: bottom;
}
[aria-labelledby="presentations"] tr > *:nth-child(2) {
	display: none;
}

} /* PRINT end */
