@media screen { /* SCREEN start */

*,
*::before,
*::after {
	box-sizing: border-box;
}
:focus {
	outline: 2px solid AccentColor;
}
[tabindex="0"]:focus {
	outline-offset: -2px;
}
html {
	--w: 68ch;
	color-scheme: dark light;
	font: 100%/1.5 sans-serif;
}
body {
	margin: 0;
	padding-block: 1em 3em;
	padding-inline: .75em;
	overflow-x: auto;
	overflow-y: scroll;
	scroll-behavior: auto;
}
@media (prefers-reduce-motion: no-preference) {
	body {
		scroll-behavior: smooth;
	}
}
main {
	max-inline-size: var(--w);
	margin-inline: auto;
}
h1 {
	margin-block: 0;
	font-size: 87.5%;
}
h1,
h2,
ul,
div,
:not(li) > p {
	margin-block-end: 1.5em;
}
h1 + p,
h2 {
	margin-block-start: 3em;
}
img {
	width: 4ch;
	height: 4ch;
	background-color: currentColor;
	border: 3px solid;
	border-radius: 50%;
	color: #000;
	forced-color-adjust: none;
	object-position: -1px 0;
	transform: translateY(-0.0625em);
	vertical-align: middle;
}
a:hover {
	text-decoration-style: double;
}
em {
	font-style: inherit;
}
em::before {
	content: open-quote;
}
td em::before {
	position: absolute;
	transform: translateX(-100%);
}
em::after {
	content: close-quote;
}

div {
	overflow-x: auto;
	overflow-y: visible;
	margin-inline: -.75em;
}
table {
	inline-size: calc(var(--w) + 1.5em);
}
table,
thead,
tbody {
	display: block;
}
tr {
	display: grid;
	gap: 0 .75em;
	padding-inline: .75em;
	border-bottom: 1px dotted;
}
th {
	font-size: 87.5%;
	font-weight: inherit;
	text-align: left;
}
td:has(em) {
	position: relative;
}
tbody tr {
	padding-block: .75em;
}
[aria-labelledby="presentations"] tr {
	grid-template-areas: 'title event year' 'links location location';
	grid-template-columns: 1fr 20ch 4ch;
}
[aria-labelledby="presentations"] tr > *:first-child {
	grid-area: title;
	font-weight: 700;
}
[aria-labelledby="presentations"] tr > *:nth-child(2) {
	grid-area: links;
}
[aria-labelledby="presentations"] td:first-child,
[aria-labelledby="presentations"] td:nth-child(2) {
	max-width: calc(100vw - 1.5em);
}
[aria-labelledby="presentations"] tr > *:nth-child(3) {
	align-self: end;
	grid-area: event;
}
[aria-labelledby="presentations"] tr > *:nth-child(4) {
	grid-area: location;
}
[aria-labelledby="presentations"] tr > *:last-child {
	align-self: end;
	grid-area: year;
}
[aria-labelledby="presentations"] td:nth-child(4)::before {
	content: '';
	display: inline-block;
	inline-size: 2ch;
	block-size: 1.125ch;
	mask: no-repeat url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"%3E%3Cpath fill="%23000" d="M15.938 32c0 0-9.938-14.062-9.938-20.062 0-11.813 9.938-11.938 9.938-11.938s10.062 0.125 10.062 11.875c0 6.187-10.062 20.125-10.062 20.125zM16 6c-2.209 0-4 1.791-4 4s1.791 4 4 4 4-1.791 4-4-1.791-4-4-4z"%3E%3C/path%3E%3C/svg%3E') -0.0625ch center / 1.125ch 1.125ch;
	background-color: currentColor;
	forced-color-adjust: preserve-parent-color;
	/* Shoutout to Broccolidry on iconmoon.io for the map marker icon <3 */
}
[aria-labelledby="resources"] tr {
	grid-template-columns: 1fr 10ch 14ch;
}
[aria-labelledby="resources"] tr > *:nth-child(2) {
	display: none;
}
[aria-labelledby="resources"] td:nth-child(3)::after {
	content: ' ';
	white-space: pre;
}
[aria-labelledby="links"] tr {
	grid-template-columns: 1fr 26ch;
}
tbody tr:focus-within,
tbody tr:hover {
	background-color: #79798015;
}
@keyframes loading {
	0% { transform: rotate(0); }
	100% { transform: rotate(1turn); }
}
.loading::after {
	content: '';
	position: absolute;
	width: 1em;
	height: 1em;
	margin: .25em 0 0 .5em;
	border: 2px solid;
	border-radius: 50%;
	border-block-end-color: LinkText;
	animation: loading .7s linear infinite;
}

} /* SCREEN end */

ul {
	list-style-type: square;
}
[aria-labelledby="resources"] tr > *:nth-child(3) {
	text-align: center;
}
[aria-labelledby="presentations"] tr > *:last-child,
[aria-labelledby="resources"] tr > *:nth-child(4) {
	text-align: right;
}

@media print { /* PRINT start */

html {
	font: 11pt/1.4 serif;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	display: none;
}
h1 {
	margin: 0 0 2mm;
	font-size: 20pt;
	border-bottom: 1px dotted;
}
h2 {
	margin: 6mm 0 2mm;
	font-size: 16pt;
}
table,
p {
	margin: 2mm 0;
}
table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}
h1,
h2,
ul,
p,
th {
	padding: 0 calc(2mm + 1px);
	text-align: left;
}
tr > *:first-child {
	width: 40%;
}
td {
	padding: .5mm 2mm;
	border: 1px solid #aaa;
	vertical-align: bottom;
}
[aria-labelledby="presentations"] tr > *:nth-child(2) {
	display: none;
}

} /* PRINT end */
